<form class="row g-3" [formGroup]="user" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <h1>Iniciar Sesion</h1>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" id="username" formControlName="username" placeholder="Correo Electronico" autocomplete="on" required>
    </div>
    <div class="mb-3">
        <label for="password" class="visually-hidden">Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Contraseña" autocomplete="off" required>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3" 
        [disabled]="!user.valid">Iniciar</button>
        <span >{{user.status}}</span>
    </div> 
</form>
